<h2>Main Menu</h2>
<ul>
  <li><a href="{{ url_for('add_url') }}">Add URL</a></li>
  <li><a href="{{ url_for('remove_url') }}">Remove URL</a></li>
  <li><a href="{{ url_for('get_real_url') }}">Get Real URL</a></li>
  <li><a href="{{ url_for('req_info') }}">Request Info</a></li>
</ul>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div>
      {% for category, message in messages %}
        <div class="flash {{ category }}">{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}